body {
    box-sizing: border-box;
    border: 10;
    margin: 10;
}

.container {
    display: grid;
    place-items: center;
    width: min(calc(100% - 2rem), 60rem);
    height: 100vh;
    background-color: black;
    margin: auto;
}

.btn {
    color: violet;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1.2em;
    background-color: transparent;
    border: 3px solid violet;
    border-radius: 0.2em;
    opacity: 0.8;


    /* make the button glow */
    text-shadow: 0 0 1em violet,
                0 0 0.8em white;
    box-shadow: inset 0 0 1em violet,
                0 0 1em violet;

    /* To add a shadow */
    position: relative;
}


.btn::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: violet;
    transform: perspective(2em) rotateX(70deg);
    filter: blur(1em);
    opacity: 0.3;
    z-index: 3;
}

.btn:hover{
    opacity: 1;
    background-color: violet;
    color: white;
}